@import '@src/variables.scss';

.jd-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.jd-input-container {
  position: relative;
  width: 100%;

  .eye-svg {
    position: absolute;
    cursor: pointer;
    right: 6px;

    &.eye-visible {
      padding-top: 3px;
    }
  }

  &:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: '\00a0';
    position: absolute;
    border-bottom: 1px solid $gray-color;
    pointer-events: none;
  }

  .jd-input {
    font-family: $sf-pro-text-regular;
    color: $text-color;
    font-size: 16px;
    border: 0;
    background: none;
    padding-bottom: 7px;
    width: 100%;

    &::placeholder {
      color: $gray-color;
    }

    &:focus {
      outline: none;
    }
  }
}

.error-message {
  color: $red-color;
  min-height: 20px;
  text-align: right;
}