@import 'variables';

@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$name}';
    src: url('./fonts/#{$file}/#{$file}.eot');
    src: url('./fonts/#{$file}/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('./fonts/#{$file}/#{$file}.woff') format('woff'),
    url('./fonts/#{$file}/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face($comfortaa-bold, 'Comfortaa-Bold');
@include font-face($sf-pro-text-regular, 'SFUIText-Regular');
@include font-face($sf-pro-text-medium, 'SFUIText-Medium');
