@import 'variables';
@import 'fonts';

:global {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #root {
    height: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 427px;

  .form-title {
    font-family: $comfortaa-bold;
    font-size: 24px;
  }

  .form-row {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    width: 100%;

    .jd-input-container {
      width: 100%;
    }
  }
}

.main-title {
  font-family: $comfortaa-bold;
  font-size: 24px;
  padding-bottom: 24px;
}

.primary-link {
  font-family: $sf-pro-text-medium;
  size: 16px;
  color: $blue-color;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $light-blue-color;
  }
}

.text {
  font-family: $sf-pro-text-regular;
  size: 16px;
  color: $gray-color;
}

.center-text {
  text-align: center;
}