$gray-color: #BBBBC7;
$text-color: #212020;
$light-blue-color: #56CCF2;
$blue-color: #2F80ED;
$red-color: #F24A3C;
$white-color: #FFF;

$comfortaa-bold: 'Comfortaa Bold';
$sf-pro-text-regular: 'SF Pro Text Regular';
$sf-pro-text-medium: 'SF Pro Text Medium';