@import '@src/variables.scss';

.title-container {
  display: flex;
  padding-bottom: 24px;
  align-items: center;

  .main-title {
    flex-grow: 1;
    color: $text-color;
  }
}

.info-content {
  margin: 45px 50px;

  .main-title {
    text-align: center;
    padding-bottom: 0;
  }
}

.go-back {
  cursor: pointer;
}

.section-title, .section-content {
  font-family: $sf-pro-text-regular;
  padding-top: 20px;
}

.section-title {
  color: $blue-color;
  font-size: 17px;
}

.section-content {
  position: relative;
  color: #1F1C1C;
  font-size: 15px;
}
