@import '@src/variables.scss';

.jd-btn {
  font-family: $sf-pro-text-medium;
  border-radius: 26px;
  border: none;
  font-size: 18px;
  padding: 13px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.jd-primary-btn {
    background-image: linear-gradient(to right, $light-blue-color, $blue-color);
    color: $white-color;
  }
}
