@import '@src/variables.scss';

.container {
  display: flex;
  height: 100%;
}

.logo-background-container {
  background-image: linear-gradient(to bottom, rgba(86, 204, 242, 0.85), rgba(47, 128, 237, 0.85));
  opacity: 0.85;
  height: 100%;
  width: 641px;

  .logo-background-img {
    display: flex;
    justify-content: center;
    align-items: center;

    align-items: center;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    .logo-img {
      font-family: $comfortaa-bold;
      font-size: 72px;
      fill: $white-color;
    }
  }
}

.sign-in-btn {
   width: 257px;
 }

.main-content {
  width: 100%;

  .footer {
    margin: 24px;
    text-align: center;
  }
}

.sign-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .form-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}

.forgot-password {
  &.go-back {
    position: relative;
    top: 45px;
    left: 50px;
  }
}

.server-error {
  color: $red-color;
}